@page "/"

<PageTitle>Análisis de Documentos con IA</PageTitle>

<h1>Análisis de documentos</h1>

Bienvenido a la aplicación, esta lleva a cabo la clasificación de documentos cargados, de acuerdo a si son facturas o documentos de información.
